@use "../../null.css";

::selection {
    background: #ffb7b7;
    /* Safari */
}

::-moz-selection {
    background: #ffb7b7;
    /* Firefox */
}

body {
    background-color: #F1F1F1;
    font-family: Anonymous Pro;
    font-size: 10px;
}

* {
    -webkit-tap-highlight-color: rgba(216, 112, 147, 0.356);
}

._lock{
    overflow: hidden;
}




.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}




.header {
    border-bottom: 1px solid rgb(202, 202, 202);
    background-color: white;

 

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }

    &__title {
        color:#121723;
        font-family: 'Russo One';
        font-size: 42px;
        font-weight: 400;
        line-height: 78.188%;
        max-width: 217px;

    }

 


    &__list {
        display: flex;
        align-items: center;
        gap: 24px;

        &-item {

            & a {
                color: #000;
                font-size: 20px;
                font-weight: 700;
                line-height: normal;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


}

/*-------------MENU-BURGER----------*/




.header__menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}


.menu {


    &__icon {
        display: none;
    }

    &__body {
        display: none;
    }
}







/*-
--------MENU-BURGER-----------------*/


.main{
    padding: 32px 0px;
    min-height: calc(100vh - 20rem);
}

.main__gap{
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;    
    margin-bottom: 24px;
}









.sneaker{
    font-family: Anonymous Pro;


    &__column{
        display: flex;
        padding: 48px;
        flex-direction: column;
        gap: 24px;
        background-color: white;
        border-radius: 50px;
    }


    &__photo{
        max-width: 100%;
    }

    &__title{
        color:black;
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
    }

    &__subtitle{
        color: black;
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }

    &__info{
        display: flex;
        gap: 32px;
    }

    &__description{
        color: black;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px; /* 140% */
        max-width: 506px;
    }

    &__feature{
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 100%;
        &-title{
            color: black;
            font-size: 30px;
            font-weight: 400;
            line-height: normal;
        }
        &-line{
            height: 1px;
            background-color: black;
        }
        &-info{
            display: flex;
            justify-content: space-between;
            &-title{
                color: black;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
            }

            &-subtitle{
                color: black;
                text-align: right;
                font-size: 20px;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}




@media (max-width: 980px){
    .sneaker__info {
        flex-direction: column;
        align-items: center;
    }
    .sneaker__description {
        max-width: none;
    }
}

@media (max-width: 530px){

    .sneaker__column{
        border-radius: 12px;
        padding: 24px;
    }
    .sneaker__title{
        font-size: 32px;
    }
    .sneaker__subtitle{
        font-size: 20px;
    }
    .sneaker__description{
        font-size: 20px;
    }
    .sneaker__feature-title{
        font-size: 24px;
    }
    .sneaker__feature-info-title{
        font-size: 16px;
    }
    .sneaker__feature-info-subtitle{
        font-size: 16px;
    }
}











/**********YOU LIKE IT******************/


.__sneaker {
    max-width: 364px;
    position: relative;
    background-color: white;
    border-radius: 12px;
    transition: 0.5s;
    height: fit-content;
    display: block;

    &:hover {
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
        transition: 0.3s;
    }

}

.__image {
    max-width: 100%;
    width: 364px;

}

.__text-block {
    padding: 32px 24px;
    }

.__name {
    color: #121723;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;

    &:hover {
        text-decoration: underline;
        cursor:pointer;
    }
}

.__subname {
    color: #121723;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.__row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


@media (max-width: 781px){
    .__row{
        justify-content: center;
    }
}



/**********YOU LIKE IT******************/






















.footer {
    background:#121723;
    color: white;
    padding: 32px 0px;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;


    }

    &__title {
        color:#FFF;
        font-family: Russo One;
        font-size: 31px;
        font-weight: 400;
        line-height: 78.188%;
    }


    &__nav {
        display: flex;
        align-items: center;
        gap: 24px;

        &-link {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__copyright {
        text-align: center;
        color: #A1A6B4;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }

    .line {
        width: 100%;
        height: 1px;
        background: rgba(230, 232, 236, 0.40);
        margin-bottom: 24px;
    }

}

























@media (max-width:610px) {

    .footer__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-direction: column;
        margin-bottom: 24px;
    }
}


@media(max-width: 530px) {
    .header__list {
        display: none;
    }


    .__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        
    }


    .menu {


        &__icon {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            margin: 45px 20px 45px 45px;

            &::before {
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: gray;
                top: 0;
            }

            &::after {
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: gray;
                bottom: 0;
            }


            & span {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease;
                background-color: gray;
            }

            & span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
        }
    }


    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
        background-color: black;
    }


    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: black;
    }

    .menu__icon._active::after {
        bottom: 48%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: black;
    }




    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fcfcfc;
        transition: left 0.3s ease 0s;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .menu__body._active {
        left: 0;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__list>li {
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li>a {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
    }
}